* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

img {
  height: 22px;
  margin-top: 5px;
  margin-left: 20px;
}
nav {
  width: 345px;
  background-color: black;
  border-radius: 22px;
  padding-top: 1px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  width: 325px;
  display: flex;
  justify-content: space-between;
  margin: -20px 10px;
}

#hour {
  color: white;
  font-size: 0.9rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0.7;
  margin-right: 8px;
  margin-left: 3px;
}
.header_left {
  display: flex;
  justify-content: start;
}

.header_right {
  display: flex;
  justify-content: flex-end;
}

span {
  color: white;
  opacity: 0.6;
  font-size: 0.75rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.fa-solid {
  opacity: 0.6;
  color: rgb(255, 255, 255);
}

.up_panel,
.down_panel {
  width: 320px;
  height: 28px;
  color: white;
  text-align: end;
  margin-right: 20px;
}

.up_panel {
  margin-top: 150px;
  margin-bottom: 10px;
}

.down_panel {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.7;
}

h1 {
  opacity: 0.9;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 5px 10px;
  padding: 5px;
}

button {
  color: rgb(241, 237, 237);
  font-size: 1.5rem;
  width: 70px;
  height: 70px;
  margin: 5px;
  background-color: #3f3e3e;
  border: 1px solid black;
  border-radius: 50%;
}

button:hover {
  opacity: 0.7;
}

#AC, #plus-minus, #modulus{
  color: black;
  background-color: #a5a5a5;
}

#zero {
  width: 145px;
  border-radius: 35px;
}

footer {
  width: 140px;
  color: white;
  border: 1px solid white;
  margin-bottom: 10px;
  margin-top: 5px;
  justify-content: center;
}

#divide, #times, #minus, #plus, #equal {
  background-color: #f29e4b;
}